In [1]:
import pandas as pd
import numpy as np
import glob
from sklearn.impute import SimpleImputer

In [2]:
# Combining all data into one single csv file for preprocessing
csv_files = glob.glob('*.csv')

combined_data = pd.DataFrame()

# Iterate through each CSV file and concatenate the data
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    combined_data = pd.concat([combined_data, df], ignore_index=True)

# Calculate the threshold for number of non-missing values
threshold = combined_data.shape[1] * 0.1  # 10% of total columns

# Remove rows with no data or more than 90% missing data from combined_data
combined_data = combined_data.dropna(thresh=threshold)


combined_data.to_csv('combined_data.csv', index=False)

In [3]:
combined_data = combined_data.rename(columns={'IETLS reading': 'IELTS reading',
                            'IETLS writing': 'IELTS writing',
                            'IETLS speaking': 'IELTS speaking',
                            'IETLS listening': 'IELTS listening'})
combined_data.to_csv('combined_data.csv', index=False)

In [4]:
combined_data.shape

(38, 36)

In [5]:
combined_data.isna().sum()

Uni Name                                                   0
Country                                                    0
State                                                      0
Exact Location                                            11
Official website url                                       3
Rank in QS Rankings                                       23
Average Fee per semester in AUD                           15
IELTS overall                                             11
IELTS reading                                             23
IELTS listening                                           23
IELTS writing                                             23
IELTS speaking                                            23
IELTS valid duration                                      32
TOEFL IBT overall                                         22
TOEFL IBT listening                                       18
TOEFL IBT reading                                         18
TOEFL IBT speaking                                        18
TOEFL IBT writing                                         15
PTE overall                                               22
PTE speaking & writing                                    22
PTE reading                                               24
PTE listening                                             24
Minimum GPA required                                      33
Aggregate 12 percentage                                   36
Application Fee                                           38
Scholarship Offered To Internation Students With Links    18
Average Fee per year in AUD                               29
minimum IELTS overall                                     28
minimum TOEFL IBT overall                                 30
minimum PTE overall                                       30
High School Qualifications Accepted                       37
ATAR                                                      37
Avg Internation Baccalaureate Diploma (IB) Grade          35
UK GCE A Levels                                           36
IB Diploma                                                37
UK A-levels                                               37
dtype: int64

In [6]:
# List of columns to drop
columns_to_drop = ['Country', 'Exact Location', 'Official website url', 'Rank in QS Rankings', 'IELTS valid duration',
                   'Minimum GPA required', 'Aggregate 12 percentage', 'Application Fee', 'Average Fee per year in AUD',
                   'Scholarship Offered To Internation Students With Links', 'IB Diploma', 'UK A-levels', 'UK GCE A Levels', 'IB Diploma', 'UK A-levels', 'High School Qualifications Accepted', 'ATAR','Avg Internation Baccalaureate Diploma (IB) Grade']

# Drop the specified columns from the DataFrame
combined_data = combined_data.drop(columns=columns_to_drop)
# Save the modified DataFrame to a new CSV file
combined_data.to_csv('combined_data_removed.csv', index=False)

In [7]:
combined_data.shape

(38, 20)

In [8]:
combined_data.isna().sum()

Uni Name                            0
State                               0
Average Fee per semester in AUD    15
IELTS overall                      11
IELTS reading                      23
IELTS listening                    23
IELTS writing                      23
IELTS speaking                     23
TOEFL IBT overall                  22
TOEFL IBT listening                18
TOEFL IBT reading                  18
TOEFL IBT speaking                 18
TOEFL IBT writing                  15
PTE overall                        22
PTE speaking & writing             22
PTE reading                        24
PTE listening                      24
minimum IELTS overall              28
minimum TOEFL IBT overall          30
minimum PTE overall                30
dtype: int64

In [9]:
# check which features have non numeric data in them for furthur pre-processing

# Load the dataset
combined_data = pd.read_csv('combined_data_removed.csv')

# Select columns with non-numeric data
non_numeric_columns = combined_data.select_dtypes(exclude=['number']).columns

# Print the columns with non-numeric data
print(non_numeric_columns)

Index(['Uni Name', 'State', 'Average Fee per semester in AUD', 'PTE overall',
       'PTE speaking & writing'],
      dtype='object')

In [10]:
# Investigating the 'Average Fee per semester in AUD' reveals '$' is redundant there and can hamper with furthur preprocessing..
# Remove '$' sign and convert to numeric
# Remove '$' sign, commas, and 'AU' from the values
combined_data['Average Fee per semester in AUD'] = pd.to_numeric(combined_data['Average Fee per semester in AUD'].str.replace('$', '').str.replace(',', '').str.replace('AU', ''), errors='coerce')

C:\Users\Asus\AppData\Local\Temp\ipykernel_15224\1528617218.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  combined_data['Average Fee per semester in AUD'] = pd.to_numeric(combined_data['Average Fee per semester in AUD'].str.replace('$', '').str.replace(',', '').str.replace('AU', ''), errors='coerce')

In [11]:

# Since PTE Overall and PTE speaking & writing have some non numeric data in them, 
# Convert non-numeric values to NaN

combined_data['PTE overall'] = pd.to_numeric(combined_data['PTE overall'], errors='coerce')
combined_data['PTE speaking & writing'] = pd.to_numeric(combined_data['PTE speaking & writing'], errors='coerce')

# Calculate the mean of numeric values in the column

mean_value_1 = combined_data['PTE overall'].mean()
mean_value_2 = combined_data['PTE speaking & writing'].mean()

# Replace NaN values with the calculated mean

combined_data['PTE overall'].fillna(mean_value_1, inplace=True)
combined_data['PTE speaking & writing'].fillna(mean_value_1, inplace=True)

# Write the updated data to a new CSV file

combined_data.to_csv('combined_data_removed.csv', index=False)

In [12]:
# Load the dataset
combined_data = pd.read_csv('combined_data_removed.csv')

# List of numeric columns with missing values to fill with mean
numeric_columns = ['IELTS overall', 'IELTS reading', 'IELTS listening', 'IELTS writing', 'IELTS speaking',
                   'TOEFL IBT overall', 'TOEFL IBT listening', 'TOEFL IBT reading', 'TOEFL IBT speaking',
                   'TOEFL IBT writing', 'PTE overall', 'PTE reading', 'PTE listening','Average Fee per semester in AUD']

# Fill missing values in numeric columns with mean
numeric_imputer = SimpleImputer(strategy='mean')
combined_data[numeric_columns] = numeric_imputer.fit_transform(combined_data[numeric_columns])


# Filling these columns with most_frequent values as it makes the most sense to me
columns_to_impute = ['minimum IELTS overall', 'minimum PTE overall', 'minimum TOEFL IBT overall']

# Create an instance of SimpleImputer with the strategy set to 'most_frequent'
imputer = SimpleImputer(strategy='most_frequent')

# Fit the imputer on the columns with missing values
imputer.fit(combined_data[columns_to_impute])

# Transform the missing values in the columns
combined_data[columns_to_impute] = imputer.transform(combined_data[columns_to_impute])


# Save the modified dataset
combined_data.to_csv('combined_data_filled.csv', index=False)

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [13]:
combined_data.isna().sum()

Uni Name                           0
State                              0
Average Fee per semester in AUD    0
IELTS overall                      0
IELTS reading                      0
IELTS listening                    0
IELTS writing                      0
IELTS speaking                     0
TOEFL IBT overall                  0
TOEFL IBT listening                0
TOEFL IBT reading                  0
TOEFL IBT speaking                 0
TOEFL IBT writing                  0
PTE overall                        0
PTE speaking & writing             0
PTE reading                        0
PTE listening                      0
minimum IELTS overall              0
minimum TOEFL IBT overall          0
minimum PTE overall                0
dtype: int64

In [ ]:
## ALL MISSING VALUES HAVE BEEN HANDLED